name: message-crud
services:
  api:
    build: .
    ports:
      - 3000:3000
    volumes:
      - .:/usr/src/app
    networks:
      - public_network
      - db_network
    depends_on:
      - db
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_SCHEMA}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - db_network
  adminer:
    image: adminer
    ports:
      - 8080:8080
    networks:
      - public_network
      - db_network
    depends_on:
      - db
volumes:
  pgdata:
networks:
  db_network:
    driver: bridge
  public_network:
    driver: bridge
